<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectShipment">
		SELECT 	SHIP_NO,
				USER_NO,
				SHIP_NAME,
				RECIPIENT,
				POSTCODE,
				ADDRESS,
				DETAIL_ADDRESS,
				PHONE,
				BASIC_SHIP
			
			FROM SHIPMENT
			WHERE
				USER_NO = ?
	
	</entry>



</properties>